.cart_box{
	width: 958px;
	border-top: 1px solid #C90809;
	margin: 81px auto 0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.cart_box>dt>span{
	display: inline-block;
	font-size: 14px;
	line-height: 31px;
}
.cart_all{
	width: 113px;

}
.cart_r1{
	width: 315px;

}
.cart_r2{
	width: 80px;
	text-align: center;
}
.cart_r3{
	width: 86px;
	text-align: center;
}
.cart_r4{
	width: 150px;
text-align: center;
}
.cart_r5{
	width: 95px;
}
dt{
	border-bottom: 1px solid #cccccc;
}
td{
	font-size: 12px;
}
#cart_rq{
	height: auto;
	padding:0 11px 5px;
}
.zd_t2{
	width: 50px;
}
.zd_t3{
	width: 320px;
}
.zd_t2>a>img{
	display: block;
	width: 50px;
	height: 50px;
}
.cart_r0{
	width: 50px;
}
.zd_t5{
	text-align: center;
	width: 86px;
}
#cart_sl{
	float: left;
	width: 37px;
	height: 24px;
	text-align: center;
	line-height: 24px;
}
.cart_r4>div>span{
	float: left;
	text-align: center;
	line-height: 26px;
	display: block;
	width: 24px;
	height: 26px;
	border:1px solid #cccccc;
	cursor: pointer;
}
.cart_jia{
	margin-left: 20px;
}
.jieshu{
	overflow: hidden;
}
.zongji{
	height: 50px;
	color: red;
	line-height: 50px;
	float: left;
	margin-right: 30px;
}
.zongjia{
	font-size: 20px;
	height: 50px;
	color: red;
	line-height: 50px;
	float: left;
}
.qjs{
	height: 50px;
	float: right;
}
.qjs>a{
	text-align: center;
	width: 80px;
	display: block;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	background: red;
	float: right;
	margin-right: 10px;
}